body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

#searchInput {
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #d2c622;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

audio {
    width: 250px;
    
}

button.update, button.delete {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

button.update {
    background-color: #28a745; /* Green */
    margin-bottom: 5px;
}

button.delete {
    background-color: #dc3545; /* Red */
}

button.update:hover {
    background-color: #218838;
}

button.delete:hover {
    background-color: #c82333;
}
