body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f7f7f7, #e6f0ff);
    

	  background-image: url('../photo/reg2.jpeg'); 
	  background-size: 1000px 800px;                 
	  background-repeat: no-repeat;           
	  background-position: left top;

    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    position: relative;
}



form {
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 50px;
    width: 400px;
    z-index: 1;
    position: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
}

td {
    padding: 10px 5px;
    vertical-align: middle;
    color: #444;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e6b800;
}

button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

span {
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    img {
        display: none;
    }

    form {
        width: 90%;
    }
}
.link-style:hover {
    text-decoration: none;
    color:  #007bff;
    font-weight: bold;
}
.typing-text {
  font-size: 45px;  /* Font size updated to 25px */
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow:
	  0 0 5px #101112,
	  0 0 10px #101112,
	  0 0 20px #101112,
	  0 0 40px #101112,
	  0 0 80px #101112;
  font-family: Arial, sans-serif;
  text-align: left; 
  position: absolute;  
  top: 50%;  
  left: 20px; 
  transform: translateY(-50%); 
}
